<section>
    <div class="container mt-3">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <a href="/admin/movies">
                <div class="col text-center">
                    <div class="card">
                        <img src="images/default_movie.webp" class="card-img-top" alt="movies_count">
                        <div class="card-body">
                            <h5 class="card-title">Movies</h5>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/admin/users">
                <div class="col text-center">
                    <div class="card">
                        <img src="images/default_movie.webp" class="card-img-top" alt="movies_count">
                        <div class="card-body">
                            <h5 class="card-title">Users</h5>
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>
</section>