<section>
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-12 col-12 col-md-12 col-lg-12 p-3">
                <div class="card">
                    <div class="card-header">
                        Admin Login
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/admin/login">
                            <div class="row">
                                {{#if adminLoginErr }}
                                    <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="alert alert-danger">
                                            {{ adminLoginErr }}
                                        </div>
                                    </div>
                                {{/if }}
                                
                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail" class="form-label">Email address</label>
                                        <input type="email" name="email" class="form-control" id="exampleInputEmail">
                                    </div>
                                </div>

                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <div class="mb-3">
                                        <label for="exampleInputPassword" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="exampleInputPassword">
                                    </div>
                                </div>

                                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                                    <button type="submit" class="btn btn-primary float-end">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>